<nav class="nav py-16">
    <div class="container">
        <div class="d-flex jcsb aic">
            <div class="d-flex aic">
                <a href="index.html"><img src="/assets/images/logo.svg" alt=""></a>
                <ul class="d-flex aic ml-48">
                    <li><a href="products.html" class="py-12 hover">商品列表</a></li>
                    <li class="ml-40"><a href="about.html" class="py-12 hover">品牌故事</a></li>
                </ul>
            </div>
            <i class="bi bi-person py-16"></i>
        </div>
    </div>
</nav>
