.btn{
	border-radius: 4px;
	background-color: transparent;
	padding: 12px 24px;
	font-size: 16px;
	font-weight: 500;
	line-height: 1.5;
	letter-spacing: 0.05em;
	cursor: pointer;
	border: none;
	&-primary{
	background-color: var(--primary-300);
	color: var(--neutral-900);
	border: none;
	&:hover{
		background-color: var(--primary-500);
	}
}
	@media (max-width: 767px) {
		&-md{
			padding: 8px 16px;
		}
	}
}

.lg{
	border: 1px solid var(--neutral-900);
	width: 50%;
}
.dark{
	background-color: var(--neutral-900);
	color: var(--neutral);
}
.light{
	color:var(--neutral-white);
	background-color: var(--neutral-900);
}
.btn-size{
	border-radius: 4px;
	border: 1px solid var(--neutral-300);
}

/* 麵包屑切換鈕 */
.bread{
	&-divider+&-divider::before{
		content: "/";
		padding-left: 12px;
		padding-right: 12px;
		color: var(--neutral-300);
		font-weight: 700;
		@include pad{
			padding-left: 8px;
			padding-right: 8px
		}
	}
	&-divider{
		display: flex;
		font-weight: 500;
	}
	&-link{
		color:var(--neutral-600);
	}
	&-selected{
		color:var(--neutral-900);
	}
}
