.btn{
	border-radius: 4px;
	background-color: transparent;
	padding: 12px 24px;
	font-size: 16px;
	font-weight: 500;
	line-height: 1.5;
	letter-spacing: 0.05em;
	cursor: pointer;
	border: none;
}
.lg{
	border: 1px solid var(--neutral-900);
	width: 50%;
}
.dark{
	background-color: var(--neutral-900);
	color: var(--neutral);
}
.light{
	color:var(--neutral-white);
	background-color: var(--neutral-900);
}
.btn-size{
	border-radius: 4px;
	border: 1px solid var(--neutral-300);
}