/* Flex */
.d{
  &-flex{
    display: flex;
  }
  &-none{
    display: none;
  }
  @media (max-width:767px) {
    &-md-none{
      display: none;
    }
    &-md-block{
      display: block;
    }
    
  }
}
.flex{
  &-wrap{
    flex-wrap: wrap;
  }
  &-column{
    flex-direction: column;
  }
  @media (max-width:767px) {
    &-md-nowrap{
      flex-wrap: nowrap;
    }
  }
}

.jcc{
	justify-content: center;
}
.jcsb{
    justify-content: space-between;
}
.aic{
    align-items: center;
}


// @media (max-width:576px) {
//   .d-sm-none{
//     display: none;
//   }
// }