/* 容器 */
.container{
    margin: 0 auto;
    max-width: 1320px;
	padding-left: 12px;
	padding-right: 12px;
}
.row{
	display: flex;
	flex-wrap: wrap;
	margin-right: -12px;
	margin-left: -12px;
	@media (max-width:767px) {
		&-md{
			margin-right: -6px;
			margin-left: -6px;
		}
		
	}
	
}
/* .col{
	padding-left: 12px;
	padding-right: 12px;
	width: calc(100% / 12);
} */
.col{
	&-2{
		padding-left: 12px;
		padding-right: 12px;
		width: calc(100% / 12 * 2);

	}
	&-3{
		padding-left: 12px;
		padding-right: 12px;
		width: calc(100% / 12 * 3);
	}
	&-4{
		padding-left: 12px;
		padding-right: 12px;
		width: calc(100% / 12 * 4);
	}
	&-5{
		padding-left: 12px;
		padding-right: 12px;
		width: calc(100% / 12 * 5);
	}
	&-7{
		padding-left: 12px;
		padding-right: 12px;
		width: calc(100% / 12 * 7);
	}
	&-8{
		padding-left: 12px;
		padding-right: 12px;
		width: calc(100% / 12 * 8);
	}
	&-10{
		padding-left: 12px;
		padding-right: 12px;
		width: calc(100% / 12 *10);
	}
	&-12{
		padding-left: 12px;
		padding-right: 12px;
		width: 100%;
	}
	@media (max-width:767px) {
		&-md-2{
			padding-left: 6px;
			padding-right: 6px;
			width: calc(100% / 12 * 2);
		}
		&-md-4{
			padding-left: 6px;
			padding-right: 6px;
			width: 100%;
		}
		
	}
}
// @media (max-width:767px) {
// 	.col-md-2{
// 		padding-left: 6px;
// 		padding-right: 6px;
// 		width: calc(100% / 4 * 2);
// 	}
// 	.col-md-4{
// 		padding-left: 6px;
// 		padding-right: 6px;
// 		width: 100%;
// 	}
// }