//圖片與連結互動效果

.menu{
    a{
        &:hover{
            color:var(--primary-500);
        }
    }
}
.product{
	&-color{
		width: 64px;
		text-align: center;
		color: var(--neutral-600);
	}
    &-img{
        &:hover{
            opacity: 0.8;
        }
    }
}  

.menu .actived{
	color:var(--primary-400);
}
// 分頁按鈕樣式
.pagelist-btn{
	padding: 8px 15px;
	font-weight: 400;
	color: var(--neutral-900);

}
.pagebutton-list{
	.actived{
		background-color: var(--primary-300);
		font-weight: 500;	
	}
	a{
		&:hover{
			background-color: var(--primary-300);
		}
	}
}