.product{
    &-row{
        display: flex;
        flex-wrap: wrap;
        margin-left: -4px;
        margin-right: -4px;   
    }
    &-col-6{
        padding-left: 4px;
        padding-right: 4px;
        width: calc(100% / 2);
    }
    &-btn{
        display: flex;
        gap: 8px;
    }
    @media (max-width: 767px) {
        &-md-row{
            margin-left: -6px;
            margin-right: -6px;
        }
        &-md-col-6{
            padding-left: 6px;
            padding-right: 6px;
            width: calc(100% / 2);
        }
    }
}
.instructions{
    padding-top: 12px;
    padding-bottom: 12px;
    &-color{
        color:var(--neutral-600);
    }
}
.img-box{
    margin-left: -12px;
    margin-right: -12px;
}
.del{
    font-size: 14px;
    font-weight: 400;
}
@media (max-width: 767px) {
    .overflow-x{
        overflow-x: auto;
    }
}