.product{
    &-row{
        display: flex;
        flex-wrap: wrap;
        margin-left: -4px;
        margin-right: -4px;   
    }
    &-col-6{
        padding-left: 4px;
        padding-right: 4px;
        width: calc(100% / 2);
    }
    &-btn{
        display: flex;
        gap: 8px;
    }
}
.instructions{
    padding-top: 12px;
    padding-bottom: 12px;
    &-color{
        color:var(--neutral-600);
    }
}
.img-box{
    margin-left: 12px;
    margin-right: 12px;
}