<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>收藏頁面</title>
</head>
<body>
    <%- include('./layout/header'); -%>
    <main class="py-64">
        <div class="container">
            <div class="row jcc">
                <div class="col-6">
                    <h2 class="text-center h3">我的收藏</h2>
                    <div class="favorite-time mb-32">
                        <p class="text-hightlight">門市營業時間：週一至週五 10:00 - 22:00</p>
                    </div>
                    <ul>
                        <li>
                            <img src="/assets/images/product/image-2.png" alt="">
                            <div class="text">
                                <h3>PLATFORM 404</h3>
                                尺寸 38
                                顏色 Navy
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </main>
    <%- include('./layout/footer'); -%>
    <script type="module" src="../main.js"></script>
</body>
</html>

<div class="d-flex jcc">
    <div class="row">
        <div class="col-2">
            <div class="d-flex aic">
                <i class="bi bi-check"></i>
                <h2 class="h3 ml-16">我的收藏</h2>
            </div>
        </div>
        <div class="col-12">
            <p>門市營業時間：週一至週五 10:00 - 22:00</p>
        </div>
    </div>
</div>